:root {
    --color-Black: #000;
    --color-White: #fff;
    --color-Green100: #1adb0026;
    --color-Green400: rgba(26, 219, 0, 0.7);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--color-Green100);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-Black);
    height: 20%;
}

body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.add-new-task-button button {
    padding: 15px 80px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: var(--color-White);
    box-shadow: 0 8px 16px rgba(26, 219, 0, 0.5);
    font-size: 1.5rem;
    font-weight: 500;
}

.add-new-task-button button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.task-form {
    background-color: var(--color-White);
    color: var(--color-Black);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 30px 70px;
    width: 30%;
    height: 70%;
}
.task-form form {
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: flex;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
}

input,
select {
    border: 1px solid var(--color-Green400);
    border-radius: 6px;
    padding: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid var(--color-Green400);
}

.form-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-button-container button {
    border: 1px solid var(--color-Green400);
    border-radius: 20px;
    background-color: var(--color-Green100);
    padding: 8px 22px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    width: 8rem;
}
.form-button-container button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(26, 219, 0, 0.5);
}

@media screen and (max-width: 870px) {
    .form-button-container {
        align-items: start;
    }

    .form-button-container {
        flex-direction: column;
        gap: 20px;
    }
}
