:root {
    --color-Black: #000;
    --color-White: #fff;
    --color-Green100: #1adb0026;
    --color-Green400: rgba(26, 219, 0, 0.7);
    --color-Red400: rgba(219, 0, 0, 0.904);
    --color-Red100: rgba(219, 0, 0, 0.142);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--color-Green100);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-Black);
    height: 20%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    overflow: hidden;
    gap: 20px;
}

.add-new-task-button button {
    padding: 15px 80px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: var(--color-White);
    box-shadow: 0 8px 16px rgba(26, 219, 0, 0.5);
    font-size: 1.5rem;
    font-weight: 500;
}

.add-new-task-button button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.task-form {
    background-color: var(--color-White);
    color: var(--color-Black);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 30px 70px;
    width: 30%;
    height: 70%;
}
.task-form form {
    gap: 20px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: flex;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
}

input,
select {
    border: 1px solid var(--color-Green400);
    border-radius: 6px;
    padding: 5px;
    outline: none;
    width: 100%;
}

input:focus {
    border: 2px solid var(--color-Green400);
}

.form-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-button-container button {
    border: 1px solid var(--color-Green400);
    border-radius: 20px;
    background-color: var(--color-Green100);
    padding: 8px 22px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    width: 8rem;
}
.form-button-container button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(26, 219, 0, 0.5);
}

.task-list-section {
    background-color: var(--color-White);
    color: var(--color-Black);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 30px;
    width: 80%;
    height: 70%;
    overflow: hidden;
}

.task-list-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.table-container {
    overflow: auto;
    height: 80%;
}

.task-list-filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.task-list-section h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-Black);
}

.task-table {
    width: 100%;
    border: 1px solid var(--color-Green400);
    border-radius: 10px;
}

.task-table tbody {
    width: 100%;
    border: 1px solid var(--color-Green400);
    border-radius: 10px;
}

.task-table th,
td {
    text-align: start;
    padding: 15px;
}

.overdue-task {
    border: 1px solid var(--color-Red400);
    background-color: var(--color-Red100);
    color: var(--color-Black);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 10px;
}

.complete-task {
    border: 1px solid var(--color-Green400);
    background-color: var(--color-Green100);
    color: var(--color-Black);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 10px;
}

@media screen and (max-width: 870px) {
    .form-button-container {
        align-items: start;
    }

    .form-button-container {
        flex-direction: column;
        gap: 20px;
    }
}
